.store{
  background-color: #f4f4f4;
  padding: 20px;
  height: 100%;
  margin: 0;
  min-height: 100vh;
}
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
  }
  
  h2 {
    margin-top: 30px; 
    margin-bottom: 40px;   
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
  }
  
  .custom-table {
    width: 70%;                 
    max-width: 800px;          
    border-collapse: collapse;  
    margin: 0 auto;            
    background-color: #ffffff;  
    border: 1px solid #ddd;    
  }
  
  .custom-table th, .custom-table td {
    padding: 12px 15px;         
    text-align: center;        
    border: 1px solid #ddd;     
  }
  
  .custom-table thead {
    background-color: #ffffff;  
    color: #002e5f;               
  }
  
  
  .custom-table tbody tr:hover {
    background-color: #cde4fe60;  
  }
  
  .pagination-controls {
    text-align: center;
    margin-top: 10px;
  }
  
  .pagination-controls a {
    color: #007bff;
    margin: 0 5px;
    text-decoration: none;
  }
  
  .pagination-controls a.active {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .pagination-controls a:hover {
    text-decoration: underline;
  }
  /* Style du conteneur de la barre de recherche */
.search-container {
  display: flex;
  justify-content: flex-end; /* Place la barre à droite */
  margin-bottom: 15px; /* Espacement en bas */
}

/* Style de l'input de recherche */
.search-bar {
  padding: 8px 12px; /* Espacement interne */
  font-size: 14px; /* Taille du texte */
  border: 1px solid #ccc; /* Bordure grise */
  border-radius: 4px; /* Bords arrondis */
  outline: none; /* Supprime le contour bleu au focus */
  width: 250px; /* Largeur de l'input */
  transition: box-shadow 0.2s ease-in-out;
}

/* Focus sur l'input */
.search-bar:focus {
  border-color: #007bff; /* Bordure bleue */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Effet lumineux */
}

/* Ajout de styles pour les icônes de recherche */
.search-icon {
  margin-left: 8px; /* Espacement entre l'input et l'icône */
  color: #555; /* Couleur grise pour l'icône */
  font-size: 18px; /* Taille de l'icône */
  cursor: pointer; /* Pointeur interactif */
}
