.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
  }
  
  h2 {
    margin-top: 30px; 
    margin-bottom: 40px;   
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
  }
  
  .custom-table {
    width: 70%;                 
    max-width: 800px;          
    border-collapse: collapse;  
    margin: 0 auto;            
    background-color: #ffffff;  
    border: 1px solid #ddd;    
  }
  
  .custom-table th, .custom-table td {
    padding: 12px 15px;         
    text-align: center;        
    border: 1px solid #ddd;     
  }
  
  .custom-table thead {
    background-color: #ffffff;  
    color: #002e5f;               
  }
  
  
  .custom-table tbody tr:hover {
    background-color: #cde4fe60;  
  }
  