<app-navbar></app-navbar>
<div class="store">
@if(store)
{
<h2>Transactions pour le magasin  : {{store.name}}</h2>}

<div class="search-container">
  
  <input 
    class="search-bar"
    type="text" 
    [(ngModel)]="searchTerm" 
    placeholder="Rechercher une transaction..." 
    (input)="applySearch()" 
  />
 
</div>


<div class="table-container">
<table class="custom-table">
    <thead>
        <tr>
            <th>N° </th>
            <th>Libellé </th>
            <th>Montant  (DZD)</th>
            <th>Date</th>            
        </tr>
    </thead>

   <tbody>
    @for (transaction of filteredTransactions| paginate : {itemsPerPage: itemsPerPage, currentPage: p 
    }; track transaction.id;)
      {
        <tr (click)="viewTransactionDetails(transaction.id)">
          <td>{{transaction.id}}</td>
          <td>{{transaction.libelle}}</td>
          <td>{{transaction.montant | number:'1.0-0' }}</td>
          <td>{{transaction.date}} <!--| date | date: 'dd/MM/yyyy'-->  </td>
        </tr>
       }
  </tbody>
</table>
<pagination-controls 
class="pagination-controls" 
previousLabel="Précédent" 
nextLabel="Suivant"
(pageChange)="onPageChange($event)"  >
</pagination-controls>

</div>
</div>