.store{
  background-color: #f4f4f4;
  padding: 20px;
  height: 100%;
  margin: 0;
  min-height: 100%;
}
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
  }
  
  h2 {
    margin-top: 30px; 
    margin-bottom: 40px;   
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
  }
  
  .custom-table {
    width: 70%;                 
    max-width: 800px;          
    border-collapse: collapse;  
    margin: 0 auto;            
    background-color: #ffffff;  
    border: 1px solid #ddd;    
  }
  
  .custom-table th, .custom-table td {
    padding: 12px 15px;         
    text-align: center;        
    border: 1px solid #ddd;     
  }
  
  .custom-table thead {
    background-color: #ffffff;  
    color: #002e5f;               
  }
  
  
  .custom-table tbody tr:hover {
    background-color: #cde4fe60; 
    cursor: pointer; 
  }
  
  .pagination-controls {
    text-align: center;
    margin-top: 10px;
  }
  
  .pagination-controls a {
    color: #002e5f;
    margin: 0 5px;
    text-decoration: none;
  }
  
  .pagination-controls a.active {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .pagination-controls a:hover {
    text-decoration: underline;
  }
  

  .search-wrapper {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    margin-bottom: 20px; /* Ajoute de l'espace entre la recherche et le tableau */
  }
  
/*.search-container {
  display: flex;
  justify-content: center; 
  margin-bottom: 15px; 
}


.search-bar {
  padding: 8px 12px; 
  font-size: 14px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  outline: none; 
  width: 250px; 
  transition: box-shadow 0.2s ease-in-out;
}


.search-bar:focus {
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}
*/
