
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  padding: 20px;
  background-color: #f4f4f4; 
}


.dashboard h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 40px;
}


ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
}


li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #fff; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  cursor: pointer;
  text-align: center;
  padding: 10px;
}


li:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}


li {
  font-size: 18px;
  font-weight: bold;
  color: #34495e; 
}


li:hover {
  color: #0056b3; 
}
