<nav class="navbar">
  <div class="navbar-left">
    <a (click)="goToDashboard()">Accueil</a>
    <a (click)="goToProfile()">Profil</a>
  </div>
  <div class="navbar-right">
    <button class="dropdown-toggle" (click)="toggleDropdown()">
      <span>{{ currentUserName }}</span> 
    </button>
    <ul [ngClass]="{'dropdown-menu': true, 'show': dropdownOpen}">
      <li class="dropdown-item" (click)="goToProfile()">Informations du compte</li>
      <li class="dropdown-item" (click)="logout()">Se déconnecter</li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
