<nav class="navbar">
  <ul class="navbar-left">
    <div class="logo">
      <a (click)="goToDashboard()" class="navbar-logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Condor_Electronics_Logo.svg/800px-Condor_Electronics_Logo.svg.png" alt="Condor Logo" />
      </a>
      </div>
    <li>
      <a [ngClass]="{'active': activeLink === 'dashboard'}" (click)="goToDashboard()">Accueil</a>
    </li>
    <li>
      <a [ngClass]="{'active': activeLink === 'profile'}" (click)="goToProfile()">Profile</a>
    
    </li>
    <li>
      <a [ngClass]="{'active': activeLink === 'stores'}" (click)="goToStores()">Stores</a>
    
    </li>


  </ul>
  <div class="navbar-right">
   
  <button [matMenuTriggerFor]="accountMenu" class = "test" >
    <mat-icon>account_circle</mat-icon>
    <div class="sub-user-menu">
      <span>{{ currentUserName }}</span>
      <mat-icon class="material-symbols-outlined">
        <span >
          arrow_drop_down
          </span>
       </mat-icon>
    </div>

  </button>
  
  <mat-menu #accountMenu="matMenu" class="mat-menu">
    <button mat-menu-item class="myMenuItem" (click)="goToProfile()">
      <mat-icon>person</mat-icon> Informations du compte
    </button>
    <button mat-menu-item class="myMenuItem" (click)="goToProfile()">
      <mat-icon>password</mat-icon> Changer mot de passe
    </button>
    <button mat-menu-item mat-menu-item  class="myMenuItem" (click)="openDialog()"> <!-- (click)="openDialog()"-->
      <mat-icon>logout</mat-icon> Se déconnecter
    </button>
  </mat-menu>
  </div>
</nav>

<router-outlet></router-outlet>
