<div class="password-container">
    <h2>Changer votre mot de passe</h2>
  
    <div class="password-box">
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
       
        <div class="password-field">
          <label for="oldPassword">Ancien mot de passe</label>
          <input type="password" id="oldPassword" formControlName="oldPassword" placeholder="Entrez votre ancien mot de passe" />
        </div>
  
        
        <div class="password-field">
          <label for="newPassword">Nouveau mot de passe</label>
          <input type="password" id="newPassword" formControlName="newPassword" placeholder="Entrez votre nouveau mot de passe" />
        </div>
  
       
        <div class="password-field">
          <label for="confirmPassword">Confirmer le nouveau mot de passe</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirmez votre nouveau mot de passe"/>
          <div *ngIf="changePasswordForm.hasError('passwordsMismatch') && changePasswordForm.touched" class="error-message">
            Les mots de passe ne correspondent pas.
          </div>
        </div>
  
        <div *ngIf="message" class="message">
            {{ message }}
          </div>
        <button type="submit" class="btn" [disabled]="changePasswordForm.invalid">Changer le mot de passe</button>
      </form>
    </div>
  </div>
  