
.password-container {
    background-color: #f4f4f4;
    padding: 10px;
    min-height: 100%; 
    margin: 0;
  }
  
  
  .password-container h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    margin-top: 30px; 
    margin-bottom: 20px;
    color: #34495e; 
   
  }
  
  .password-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px; 
    margin: 0 auto; 
    max-width: 100%;
  }
  
  
  .password-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    
  }
  
  
  .password-field label {
    font-size: 16px;
    color: #34495e; 
    margin-bottom: 8px;
  }
  
  
  .password-field input {
    padding: 12px 6px;
    font-size: 16px;
    color: #495057; 
    background-color: #ffffff; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    outline: none;
    width: 100%;
   
  }
  
  ::placeholder{
    font-size: 13px;
   
  }
  .password-field input:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }
  
  
  .error-message {
    font-size: 14px;
    color: red;
    margin-top: 5px;
  }
  
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff; 
    background-color: #0053acdb; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
  }
  
  
  .btn:hover {
    background-color: #0056b3; 
  }
  
 
  .btn:disabled {
    background-color: #608dc7; 
    cursor: not-allowed;
  }
  .message {
    margin-top: 15px;
    padding: 10px;
    font-size: 14px;
    color:#34495e;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
  }
  
  .message.error {
    background-color: red; /* Rouge pour les erreurs */
  }
  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
    background-color: white;
  }
  /* .example-container {
    width: 80%;
  
  }
  .example-container mat-form-field{
    width: 100%;
    min-width: 50§;
  
  }
  
  :host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
  }
  
  :host ::ng-deep .mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay {
    opacity: 0 !important;
  }
  
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }   */