.page-container {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    min-height: 100vh;
    background-color: #f7f7f7;
  }
  .title{
    margin-top: 10px;
  }
  .map-container {
    flex: 1; 
    height: 100%; 
    background-color: #eaeaea; 
  }
  
  .store-list {
    flex: 0 0 500px; 
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: 100vh; 
    overflow-y: auto; 
    margin-top: 90px; 
  }
  
  .store-list h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
  }
  
  .store-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: center;
  }
  
  .store-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  }
  
  .store-card h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .store-card p {
    font-size: 16px;
    color:#34495e;
    margin: 5px 0;
  }
  
  .store-card strong {
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .page-container {
      flex-direction: column; 
    }
  
    .store-list {
      width: 100%;
      height: auto;
      max-width: none;
    }
  
    .map-container {
      width: 100%;
      height: 300px; 
    }
  }
  