
<div class="page-container">
    <h2 class="title"> Magasins</h2>
    <div class="search-container">
   
   <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher un store ..." class="search-bar"/>
 
 
 <select [(ngModel)]="selectedWilaya" class="search-bar">
   <option value="">Sélectionner une wilaya</option>
   <option *ngFor="let wilaya of wilayas" [value]="wilaya">{{ wilaya }}</option>
 </select>
 
 
 <button class="searchButtonS" (click)="onSearchButtonClick()" >Rechercher</button>
</div>
  
  
    <div class="content-container">
    <div class="map-container">
        <google-map height="100%" width="100%" [options]="options">
            <map-advanced-marker #markerElem="mapAdvancedMarker"
            *ngFor="let store of filteredStores; let index = index"
            (mapClick)="onMarkerClick(markerElem, store)"

            [position]="{ lat: store.latitude, lng: store.longitude }" />
            <map-info-window #infoWindow>
                <div>
                  <strong>{{ selectedStore?.wilaya }}</strong><br />
                  {{ selectedStore?.adresse }}
                </div>
              </map-info-window>
        </google-map>
        
      
    </div>
  
    <div class="store-list">
      
      <div *ngFor="let store of filteredStores" class="store-card" (click)="onStoreClick(store)">
        <h3>{{ store.name }}</h3>
        <p><strong>Adresse:</strong> {{ store.adresse }}</p>
        <p><strong>Wilaya:</strong> {{ store.wilaya }}</p>
        <p><strong>Téléphone:</strong> {{ store.telephone }}</p>
      </div>
    </div>
    
    </div>
    
  </div>
  
