.page-container {
    padding: 20px;
    background-color: #f7f7f7;
    min-height: 100%; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}

.title {
    text-align: left;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 10px;
}


.content-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: auto; 
    height: 500px; 
    padding: 20px;
    overflow: hidden; 
}



.map-container {
    flex: 2;
    background-color: #dcdcdc;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.store-list {
    flex: 0 0 35%; 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto; 
    min-height: 80%;
    
}


.store-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.store-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.store-card h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.store-card p {
    font-size: 15px;
    color: #34495e;
    margin: 7px 0;
    text-align: left;
    margin-left: 5px;
}

.store-card strong {
    font-weight: bold;
}


@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        min-height: auto; 
    }

    .map-container,
    .store-list {
        width: 100%;
        height: auto;
    }
}
.search-container {
    display: flex;
    justify-content: center; 
    margin-bottom: 2px; 
    gap: 5px;
  }
  
  .search-bar {
    padding: 8px 12px; 
    font-size: 14px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    outline: none; 
    width: 250px; 
    transition: box-shadow 0.2s ease-in-out;
    
  }
  
  .search-bar:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }

  .searchButtonS{
    border-radius: 4px; 
    background-color: white;
    font-size: 14px; 
    border: 1px solid #ccc;
    cursor: pointer;
    
    padding: 10px 20px
  }

  .searchButtonS:hover {
    background-color: #d0ecff; 
    border-color: #007bff; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
    
}